@use '../abstracts/mixins';
@use '../abstracts/variables';

footer {
	background-color: black;
	color: white;
	#copyright {
		width: 88%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 6.5rem 0;
		p {
			text-align: center;
		}
	}
}
